.iopta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}


.row a{
  color: black;
  text-decoration: none;
}

.col-8 ul{
  display: flex;
  column-gap: 30px;
  list-style: none;
  font-size: 1.2rem;
  justify-content: end;  
  
}

.col-8 ul li:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}