.container.bottom {
    margin-top: auto;
    padding: 20px 0;
  }
  
  .row a {
    color: white;
    text-decoration: none;
  }
  
  .col-4 ul {
    display: flex;
    column-gap: 30px;
    list-style: none;
    font-size: 1rem;
    justify-content: end;  
  }
  
  .col-4 ul li:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  
  .col-8 p {
    font-size: 1.6rem;
    font-weight: 900;
    color: white;
  }
  
@media only screen and (max-width:1200px) {
    .col-4 ul{
        display: none;
    }
}